{% extends 'myblog/base.html' %}
{% load staticfiles %}
{% block mainContent %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                {% for post in posts %}
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.describe }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ post.author.name }}</a> {{ post.c_time }}</p>
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-secondary float-right" href="#">其他文章 &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
{% block pageHeaderImgURL %}{% static "img/home-bg.jpg" %}{% endblock %}

